@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

h1{
  margin: 0%;
  padding-top: 1vh;
  text-align: center;
}

button{
  font-family: 'Courgette', cursive;
}

.header{
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 12vh;
  background-color: #000000;
  font-family: 'Courgette', cursive;
  color: #E1E1E1;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1vh;
  font-size: 20px;
}

.appWrapper {
  position: relative;
  text-align: center;
  border-color: black ;
  border-style: solid;
  border-width: 10px;
  height: 90vh;
  width: 80vw;
  left: 20vw;
  background-color: lightgrey;
}

.searchDiv{
  background-color: #E1E1E1;
  height: 100vh;
  width: 20vw;
  border-color: #c30000;
  border-right: 2px solid black;
}

.displayDiv{
  display: flex;
  flex-direction: column;
}

.displayList{
  width: 20vw;
}

.searchAndDisplay{
  display: flex;
  flex-direction: row;
  padding-top: 12vh;
  background-color: #E1E1E1;
}