@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

ul{
  list-style-type: none;
}

body{
  margin: 0%;
  padding: 0%;
}

.popUpDiv{
  position: absolute;
  text-align: center;
  top: 20vh;
  z-index: 35;
  background-color: rgb(192, 45, 45);
  width: 20vw;
}

.popUpDiv > p, button{
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.homeDiv{
  background-image: url('./sitebackground.png');
  background-size: 100% 100%;
  height: 110vh;
  width: 98vw;
  opacity: 0.1;
} 

.priceDiv{
  background-image: url('./sitebackground.png');
  background-size: 100% 100%;
  height: 250vh;
  width: 98vw;
  opacity: 0.1;
} 

.homeTextWrapper{
  color: #000000;
  opacity: 1;
  background-color: transparent;
  position: absolute;
  top: 20vh;
  width: 80vw;
  left: 10vw;
  bottom: 40vh;
  z-index: 1;
  font-family: 'Courgette', cursive;
}

.priceDivWrapper{
  text-align: center;
  color: #000000;
  opacity: 1;
  background-color: transparent;
  position: absolute;
  top: 20vh;
  width: 80vw;
  left: 10vw;
  bottom: 40vh;
  z-index: 1;
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

.homeTextWrapper > p {
  font-size: 25px;
}

img{
  max-width: 100%;
  height: auto;  
  position: relative;
  left: 35vw;
}

@media (max-width: 600px){
  img{
    left: 15vw;
  }
}

a{
  color: #000000;
  text-decoration: none;
}

#wiki{
  color: #E1E1E1;
  /*padding-top: 2.2vh;*/
}

h1{
  margin: 0%;
  padding-top: 1vh;
  text-align: center;
}

h2{
  text-align: center;
  font-size: 28px;
}

button{
  font-family: 'Courgette', cursive;
  color: #000000;
  border-radius: 8px;
  height: 32px;
  background-color: #E1E1E1;
  border-color: #000000;
  border-width: 1px;
}

.header{
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 12vh;
  background-color: #000000;
  font-family: 'Courgette', cursive;
  color: #E1E1E1;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1vh;
  height: 6vh;
  font-size: 20px;
  margin: 0;
}

.menu > p, a{
  padding-top: 1vh;
  margin: 0;
}

@media (max-width: 600px){
  .menu{
    font-size: 10px;
  }
  h1{
    font-size: 15px;
  }
}

.menu > p:hover, a:hover{
  scale: 1.2;
  cursor: pointer;
}

.searchAndDisplay{
  display: flex;
  padding-top: 12vh;
  background-color: #E1E1E1;
}
/*
.appWrapper{
  position: fixed;
  left: 30vh;
}
*/
.navigationButtons{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 12vh;
  left: 92vw;
  width: 7.2vw;
  height: 1900px;
  z-index: 1;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: #E1E1E1;
  font-size: 20px;
}

.navigationButtons > button{
  height: 10vh;
  font-size: 20px;
}

.searchDiv{
  background-color: #E1E1E1;
  height: 1900px;
  width: 20vw;
  border-color: #c30000;
  border-right: 2px solid black;
}

.displayDiv{
  display: flex;
  flex-direction: column;
}

.displayList{
  width: 20vw;
}

.fileBrowserHeader{
  background-color: white;
  margin: 0;
  padding: 0;
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.fileBrowserHeader > button{
  height: auto;
  flex-grow: 0.5;
  margin: 0;
  padding: 0;
}

.searchAndDisplayPhone{
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100vw;
  background-color: black;
  
}

.popUpDivPhone{
  margin: 0%;
  padding: 0%;
  height: 40vh;
  width: 80vw;
  left: 10vw;
  top: 25vw;
  position: fixed;
  background-color: rgb(255, 98, 98);
  border: solid black 2px;
}

.popUpDivPhone > p{
  margin-left: 5vw;
  margin-right: 5vw;
}

.popUpDivPhone > button{
  position: relative;
  left: 35vw;
  top: 3vh;
  background-color: red;
  border: solid black 2px;
}

.searchDivPhone{
  margin: 0%;
  padding: 0%;
}

.appWrapperPhone{
  position: fixed;
  margin: 0%;
  padding: 0%;
  padding-top: 2vh;
    
}
@media (max-width: 600px){
  #page-number{
    position: fixed;
    margin: 0%;
    padding: 0%;
    text-align: center;
    bottom: 20vh;
    left: 40vw;
  }
}


.displayDivPhone{
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.navigationButtonsPhone{
  margin: 0%;
  padding: 0%; 
  position: fixed; 
  top: 80vh;
  display: flex;
  flex-direction: row;
}

.displayListPhone{
  margin: 0%;
  padding: 0%;
  width: 100vw;
}

#previous-button-phone{
  background-image: url('./icons_pierreangot/back.png');
  height: 10vh;
  width: 25vw;
  background-repeat: no-repeat;
  background-position: center;
}

#next-button-phone{
  background-image: url('./icons_pierreangot/next.png');
  height: 10vh;
  width: 25vw;
  background-repeat: no-repeat;
  background-position: center;
}

#download-button-phone{
  background-image: url('./icons_pierreangot/file.png');
  height: 10vh;
  width: 25vw;
  background-repeat: no-repeat;
  background-position: center;
}

#phone-download-text{
  display: none;
}

#rotation-button-phone{
  background-image: url('./icons_pierreangot/rotating-arrow-to-the-right.png');
  height: 10vh;
  width: 25vw;
  background-repeat: no-repeat;
  background-position: center;
}


/*
@media (max-width: 600px){
  .header{
    z-index: -1;
  }
  img{
    left: 15vw;
  }
  .menu{
    font-size: 10px;
  }
  .header > h1{
    font-size: 18px;
  }

  .appWrapper{
    position: fixed;
    background-color: blueviolet;
    z-index: 15;
  }
  .searchAndDisplay{
    display: block;
    position: fixed;
    top: 0vh;
    padding-top: 0%;
  }
  .searchDiv{
    width: 25vw;
    background-color: #c30000;
  }
  .displayDiv > button{
    height: 50px;
    width: auto;
    word-wrap: break-word
    

  }
  .navigationButtons{
    position: fixed;
    left: 50vw;
    top: 0%;
    width: 35vw;
    background-color: aqua;
  }
}*/