@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.homeDiv, .priceDiv{
  background-image: url('./sitebackground.png');
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  opacity: 0.2;
} 

a{
  color: #000000;
  text-decoration: none;
}

#wiki{
  color: #E1E1E1;
  padding-top: 2.2vh;
}

h1{
  margin: 0%;
  padding-top: 1vh;
  text-align: center;
}

button{
  font-family: 'Courgette', cursive;
  color: #000000;
}

.header{
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 12vh;
  background-color: #000000;
  font-family: 'Courgette', cursive;
  color: #E1E1E1;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1vh;
  font-size: 20px;
}

.appWrapper {
  position: relative;
  text-align: center;
  border-color: black ;
  border-style: solid;
  border-width: 10px;
  height: 90vh;
  width: 80vw;
  left: 20vw;
  background-color: lightgrey;
}

.navigationButtons{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 12vh;
  left: 92vw;
  width: 7.2vw;
  height: 1900px;
  z-index: 1;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: #E1E1E1;
}

.navigationButtons > button{
  height: 10vh;
}

.searchDiv{
  background-color: #E1E1E1;
  height: 1900px;
  width: 20vw;
  border-color: #c30000;
  border-right: 2px solid black;
}

.displayDiv{
  display: flex;
  flex-direction: column;
}

.displayList{
  width: 20vw;
}

.searchAndDisplay{
  display: flex;
  flex-direction: row;
  padding-top: 12vh;
  background-color: #E1E1E1;
}